*{
    padding: 0;
    font-family: fangsong;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    line-height: 1.5;
}

.mgb32{
    margin-bottom: 32px;
}

.slideOpaque{
    animation-name: slideOpaque;
    animation-duration: 1s;
    visibility: visible;
}

@keyframes slideOpaque {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0.7;
        background-color: transparent;
    }
}

.nav-drawer {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(171, 171, 171);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.nav-drawer a{
    padding: 10px;
    text-decoration: none;
    font-size: 40px;
    color: white;
    display: block;
    text-align: center;
    transition: 0.3s;
}

.nav-drawer .closebtn{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
    color: white;
    margin-left: 30px;
}

.menu{
    display: none;
}

.menu .menu-toggle{
    font-size: 30px;
}

.nav-drawer-icon{
    padding-top: 10px;
}

.nav-drawer-icon ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;
}

.nav-drawer-icon ul li{
    padding-right: 10px;
    padding-left: 10px;
}

.nav-drawer-icon img{
    width: 20px;
    height: 20px;
}


#header{
    padding: 0 0 0 40px;
    height: 100px;
    width: 100%;
    background-color: white;
    position: fixed;
    border-top: #333 1px solid;
    border-bottom: #333 1px solid;
    z-index: 999;
}

.order-list ul{
    list-style-type: none;
    line-height: 60px;
}

.order-list ul li{
    /* display: inline-block; */
    float: left;
    margin: 0 15px 0 0;
}

.order-list a{
    text-decoration: none;
    display: block;
    color: black;
}

.header-image{
    float: left;
    padding-top: 8px;
    position: fixed;
    z-index: 1000;
    margin-left: 10%;
    width: 250px;
    background-size: cover;
}

.trailing-icon{
    height: 28px;
    float: right;
    padding-top: 18px;  
}


.trailing-icon ul li{ 
    margin-right: 10px;
    display: inline-block;
    list-style: none;
}

.trailing-icon img{
    max-width: 18px;
}

#banner {
    width: 100%;
    height: 800px;
    position: relative;
}

#banner .banner-image{
    height: 100%;
    width: 100%;
}

.fade{
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

#banner .banner-image img{
    width: 100%;
    height: 100%;
    /* vertical-align: middle; */
    object-fit:cover;
}

.nav{
    position: absolute;
    text-align: center;
    top: 50%;
}
#banner .banner-title{
    position: absolute;
    font-size: 20px;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-title #banner-main-title{
    padding: 10px 40px 10px 40px;
    border: 1px solid #fff;
    border-radius: 40px;
    opacity: 0.6;
    color: black;
    text-decoration: none;
    background-color: white;
}

#banner-main-title:hover{
    background-color: white;
    opacity: 0.7;
}

.prev{
    font-size: 30px;
    position: absolute;
    /* border: 1px solid grey; */
    background-color: rgb(156, 156, 156);
    opacity: 0.7;
    top: 60%;
    width: 60px;
    height: 60px;
    border: none;
    text-align: center;
    border-radius: 50%;
    left: 20px;
}

.prev:focus{
    outline: none;
}

.prev img{
    width: 100%;
    height: 100%;
    padding: 0 5px 0 5px;
}

.next{
    position: absolute;
    font-size: 30px;
    border: none;
    right: 20px;
    background-color: rgb(156, 156, 156);
    opacity: 0.7;
    top: 60%;
    border-radius: 50%;
    text-align:justify;
    width: 60px;
    height: 60px;
}


.next:focus{
    outline: none;
}

.next img{
    width: 100%;
    height: 100%;
    padding: 0 5px 0 5px;
    
}
.content-title{
    /* height: 500px; */
    text-align: center;
    padding: 64px 38px 38px 38px;
}

.content-title .content-body{
    text-align:center;
    line-height: 1.5;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
}

.separator{
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}

.separator .separate-line{
    width:35%; 
    height:0.5px; 
    border:none;
    color:#333; 
    background-color:#333;
}
.content-description{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-image-title{
    padding-right: 7vw;
    padding-left: 7vw;
    text-align: center;
}

.content-image-title h4{
    text-align: center;
    font-size: 32px;
}

.content-image-title p{
    margin-bottom: 35px;
    text-align: center;
}

.content-image-title a{
    color: white;
    background-color: rgb(156, 156, 156);
    padding: 10px 16px;
    text-decoration: none;
}

.content-description{
    padding-bottom: 100px;
    /* visibility:hidden; */
}

.slideLeft{
    animation: slideLeft;
    animation: 2s;
    visibility: visible;
}

@keyframes slideLeft {
    0%{
        opacity: 0;
        transform: translateX(70%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

.content-description .content-image{
    width: 40%;
    height: 100%;
}

.content-project-view{
    margin-left: auto;
    margin-right: auto;
}

.content-project-view a{
    font-size: 20px;
    color: grey;
    opacity: 0.7;
    text-decoration: underline;
}

.content-contact{
    padding-top: 50px;
    position: relative;
}

.content-contact img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.content-contact-title{
    position: absolute;
    top: 30%;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
}

.content-contact-title h3{
    color: white;
    padding-bottom: 30px;
}

.content-contact-title a{
    padding: 12px 15px;
    background-color: rgb(203, 203, 203);
    border-radius: 60px;
    color:white;
}

#footer{
    height: 600px;
    overflow: hidden;
}

.footer-title{
    display: flex;
    padding-top: 20px;
    padding-bottom: 5px;
    align-items:center;
    justify-content: center;
}

.footer-title a{
    color: grey;
    opacity: 0.7;
    padding: 5px;
    text-decoration:underline;
}

.content-contact{
    text-align: center;
}

.content-contact p{
    font-size: 14px;
}